
body {
    font-family: 'NanumGothicExtraBold', sans-serif;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    max-width:1023px;
}

.main-container {
    background: #3496ff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container div {
    font-family: 'NanumGothicExtraBold', sans-serif;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 5px;
}

.main-container .main-smail-text {
    font-size: 1em;
}

.map-name-container {
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px 10px;
}

.map-name-container input {
    font-weight: bold;
    margin-bottom: 10px;
    color: #282828;
    font-size: 1.0em;
    border: 1px solid #e2e2e2;
    height: 25px;
    padding: 10px 5px;
    border-radius: 5px;
    width: 100%;
}

.map-name-container .next-btn {
    font-weight: bold;
    color: #fff;
    font-size: 1.0em;
    border: 1px solid #3496ff;
    background-color: #3496ff;
    height: 25px;
    padding: 15px 5px;
    line-height: 25px;
    border-radius: 5px;
    width: 100%;
}

.map-name-container .typing {
    display: inline-block;
    border-right: 2px solid white;
    animation: blink 0.7s infinite;
    font-weight: bold;
    color: #282828;
    font-size: 1.5em;
    width: 100%;
    margin-bottom: 40px;
}

@keyframes blink {
    0% { border-color: transparent; }
    50% { border-color: white; }
    100% { border-color: transparent; }
}

.sigungu-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 10px;
}

.sigungu-container ul {
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0;
    margin: 0;
}

.sigungu-container ul li {
    padding: 7px 0px 7px 5px;
    margin: 2px 0;
    background-color: #3496ff;
    color: #fff;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    transition: background-color 0.3s;
    text-align: left;
    box-sizing: border-box;
}

.sigungu-container ul.detailList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(175px, 1fr));
    gap: 5px;
}

.sigungu-container ul.detailList li.full-width {
    grid-column: span 2;
}

.sigungu-container ul.detailList li {
    padding: 7px 10px;
    margin: 2px 0px;
    background-color: #e5e5e5;
    color: #282828;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    transition: background-color 0.3s;
    text-align: left;
}

.sigungu-container ul.detailList li .point{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #ff8800;
}

.color-date-container {
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px 10px;
}

.color-date-container .color-area {
    font-size: 1em;
    font-weight: bold;
    color: #282828;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.color-date-container span {
    display: inline-block;
    margin-bottom: 10px;
}

.color-date-container input[type="color"] {
    width: 330px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.color-date-container input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 10px;
}

.color-date-container input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
}

.color-date-container .date-area {
    font-size: 1em;
    font-weight: bold;
    color: #282828;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.flatpickr-input {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 12px 10px;
    text-align: center;
    width: 300px;
}

.color-date-container .desc-area {
    font-size: 1em;
    font-weight: bold;
    color: #282828;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.color-date-container .desc-area textarea {
    width: 320px;
    height: 80px;
}

.color-date-container button {
    font-weight: bold;
    color: #fff;
    width: 100%;
    font-size: 1.0em;
    border: 1px solid #3496ff;
    background-color: #3496ff;
    height: 40px;
    padding: 15px 20px;
    line-height: 10px;
    border-radius: 5px;
    display: inline-block;
}

#map {
    height: 90vh;
    background: #9cd6f4; /* 지도 배경을 파란색으로 설정 */
}

.leaflet-container {
    background: #9cd6f4; /* 지도 컨테이너의 배경을 파란색으로 설정 */
}

.form-container {
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container select, .form-container input, .form-container textarea {
    margin-right: 10px;
}

.control_map {
    top: 8px;
    left: 12px;
}

.set_map {
    position: absolute;
    top: 130px;
    z-index: 10;
    width: 30px;
}

.set_map .btn_control {
    margin-bottom: 9px;
}

.btn_control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.32);
    border: 1px solid #fff;
}

.control_map .ico_now {
    width: 16px;
    height: 16px;
    background-position: -22px -2px;
}

.set_map .ico_comm {
    margin: auto;
}

.ico_comm {
    display: block;
    overflow: hidden;
    font-size: 1px;
    line-height: 0;
    color: transparent;
    vertical-align: top;
}

.ico_comm {
    background: url('../images/map.png') no-repeat;
    background-size: 250px auto;
}

.color-blue {
    color: #3496ff;
}

.map-top {
    display: inline-block;
    height: 45px;
    background-color: #fff;
}

.map-top img {
    position: absolute;
    top: 12px;
    left: 5px;
}

.header-container {
    position: fixed;
    height: 50px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.header-container span {
    display: inline-block;
    font-weight: bold;
    color: #3496ff;
    font-size: 1.5em;
    margin-top: 10px;
}

.header-container img.menu {
    position: fixed;
    height: 40px;
    top: 3px;
    width: 30px;
    right: 6px;
}

.header-container img.back {
    position: fixed;
    top: 12px;
    left: 6px;
}

.menu-container {
    font-family: 'NanumGothicExtraBold', sans-serif;
    background-color: #e5e5e5;
    height: 100vh;
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}

.menu-container .menu-box {
    background-color: #fff;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    width: 90%;
}

.menu-container ul {
    list-style: none;
}

.page-title {
    display: inline-block;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
    width: 100%;
}