@font-face {
    font-family: 'NanumGothicExtraBold';
    src: url('../fonts/NanumGothicExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NanumGothicExtraBold' !important;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    max-width:1023px;
}

.main-container {
    background: #3496ff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container div {
    font-family: 'NanumGothicExtraBold', sans-serif;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 5px;
}

.main-container .main-smail-text {
    font-size: 1em;
}

.header-container {
    position: fixed;
    height: 50px;
    background-color: #fff;
    width: 100%;
    max-width: 1023px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    z-index: 999;
}

.header-container span {
    display: inline-block;
    font-weight: bold;
    color: #282828;
    font-size: 1.2em;
    margin-top: 14px;
    margin-left: 35px;
    letter-spacing: -1.0px;
}

.header-container img.menu {
    height: 35px;
    width: 25px;
    float: right;
    margin-top: 7px;
    margin-right: 9px;
}

.header-container img.back {
    position: fixed;
    top: 13px;
    left: 6px;
}

.menu-container {
    font-family: 'NanumGothicExtraBold', sans-serif;
    background-color: #e5e5e5;
    height: 100vh;
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}

.menu-container .menu-box {
    background-color: #fff;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    width: 90%;
}

.menu-container ul {
    list-style: none;
}

.map-name-container {
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px 10px;
}

.map-name-container input {
    font-weight: bold;
    margin-bottom: 10px;
    color: #282828;
    font-size: 1.0em;
    border: 1px solid #e2e2e2;
    height: 25px;
    padding: 10px 5px;
    border-radius: 5px;
    width: 100%;
}

.map-name-container .next-btn {
    font-weight: bold;
    color: #fff;
    font-size: 1.0em;
    border: 1px solid #3496ff;
    background-color: #3496ff;
    height: 25px;
    padding: 15px 5px;
    line-height: 25px;
    border-radius: 5px;
    width: 100%;
}

.map-name-container .typing {
    display: inline-block;
    border-right: 2px solid white;
    animation: blink 0.7s infinite;
    font-weight: bold;
    color: #282828;
    font-size: 1.5em;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
    top: 25%;
}

@keyframes blink {
    0% { border-color: transparent; }
    50% { border-color: white; }
    100% { border-color: transparent; }
}

.map-names-container {
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    padding: 60px 10px;
}

.map-names-container div.name-box {
    max-width: 1023px;
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    background-color: #3496ff;
    border-radius: 8px;
    margin: 10px;
}

.map-names-container div.name-box div.tit-name {
    display: flex;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
}

.map-names-container div.name-box div.tit-name span.tit-modify {
    background: url(../images/modify.png);
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-top: -2px;
    display: inline-block;
    cursor: pointer;
}

.map-names-container div.name-box div.menu-div {
    display: flex;
    margin-top: 6px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    justify-content: flex-end;
    padding-right: 20px;
    cursor: pointer;
}
.map-names-container div.name-box div.menu-div div.menu-area {
    position: absolute;
    background-color: #ffffff;
    color: #ff3b5d;
    font-size: 0.5em;
    height: 55px;
    width: 100px;
    top: 110px;
    right: 20px;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 5px 4px 7px rgb(0 0 0 / 21%);
}

.map-names-container div.name-box div.menu-div div.menu-area div.color-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #f4f4f4;
}

.map-names-container div.name-box div.menu-div div.menu-area div.color-area div {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
}

.map-names-container div.name-box div.menu-div div.menu-area div.color-area .mr10 {
    margin-right: 10px;
}

.map-names-container div.name-box div.menu-div div.menu-area div.delete-map-nm {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

.map-names-container div.name-box div.hr-div {
    padding: 0px 20px;
    height: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.map-names-container div.name-box div.img-div {
    display: flex;
}

.map-names-container div.name-box div img.pin {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 15px;
}

.map-names-container div.name-box div.count {
    color: #fff;
    font-size: 1.9em;
    font-weight: bold;
    margin-top: 8px;
}

.map-names-container div.name-box div.count span {
    color: #fff;
    font-size: 0.5em;
    font-weight: bold;
    margin-top: 10px;
}

.map-names-container div.name-box div.count span.point-cnt {
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 10px;
    height: 10px;
}

.map-names-container div.name-box div.count span.point {
    color: #fff;
    font-size: 0.7em;
    font-weight: bold;
    margin-top: 15px;
}

.map-names-container div.name-box .progress-container {
    background-color: rgb(255 255 255 / 50%);
    border-radius: 25px;
    overflow: hidden;
    height: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
}

.map-names-container div.name-box .progress-bar {
    height: 10px;
    width: 0;
    background-color: #fff;
    border-radius: 25px 0 0 25px;
    transition: width 0.5s;
}

.map-names-container div.name-box div img.walkman {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 15px;
}

.map-names-container div.name-box div.visit {
    color: #fff;
    font-size: 1.9em;
    font-weight: bold;
    margin-top: 8px;
}

.map-names-container div.name-box div.visit span {
    color: #fff;
    font-size: 0.5em;
    font-weight: bold;
    margin-top: 10px;
}

.map-names-container div.name-box div.visit span.point-walk {
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 10px;
    height: 10px;
}

.map-names-container div.name-box div.total-btn-div
,.map-names-container div.name-box div.map-btn-div
,.map-names-container div.name-box div.time-btn-div {
    border: 1px solid #ffffff;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 0.5em;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

.map-names-container div.name-box div.reg-btn-div {
    background-image: url('../images/modify.png');
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    background-size: contain;
    position: absolute;
    right: 20px;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.1);
}

.sigungu-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 10px;
}

.sigungu-container ul {
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0;
    margin: 0;
}

.sigungu-container ul li {
    padding: 10px 0px 10px 5px;
    margin: 2px 0;
    background-color: #3496ff;
    color: #fff;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    transition: background-color 0.3s;
    text-align: left;
    box-sizing: border-box;
}

.sigungu-container ul.detailList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    gap: 5px;
}

.sigungu-container ul.detailList li.full-width {
    grid-column: span 2;
}

.sigungu-container ul.detailList li {
    padding: 7px 10px;
    margin: 2px 0px;
    background-color: #fff;
    color: #282828;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    transition: background-color 0.3s;
    text-align: left;
}

.sigungu-container ul.detailList li.point:after {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: #58c101;
    margin-left: 3px;
    vertical-align: middle;
    margin-bottom : 3px;
}

.sigungu-container .page-title {
    display: inline-block;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
    width: 100%;
}

.map-info-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 10px;
}

.map-info-container .page-title {
    display: inline-block;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
    width: 100%;
}

.map-info-container .color-area {
    font-size: 1em;
    color: #282828;
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

.map-info-container .circle-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.map-info-container .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.map-info-container .circle.checked::after {
    content: '✓';
    color: #ffffff;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.map-info-container .date-area {
    font-size: 1em;
    color: #282828;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.map-info-container .flatpickr-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.map-info-container .desc-area {
    font-size: 1em;
    color: #282828;
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

.map-info-container .desc-area textarea {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.map-info-container .next-btn {
    font-weight: bold;
    color: #fff;
    font-size: 1.0em;
    border: 1px solid #3496ff;
    background-color: #3496ff;
    height: 50px;
    padding: 15px 5px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.map-info-container .date-area div.tit
, .map-info-container .desc-area div.tit
, .map-info-container .color-area div.tit {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

.map-info-container .tags-input-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 47.5px;
}
.map-info-container .tags-input-container input {
    border: none;
    outline: none;
    flex: 1;
}
.map-info-container .tag {
    display: inline-flex;
    align-items: center;
    background-color: #66aaff;
    color: #ffffff;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}
.map-info-container .tag button {
    background: none;
    border: none;
    color: #ffffff;
    margin-left: 5px;
    cursor: pointer;
}

#map {
    height: 100vh;
    background: #f4fbff; /* 지도 배경을 파란색으로 설정 */
}

.leaflet-container {
    background: #f4fbff; /* 지도 컨테이너의 배경을 파란색으로 설정 */
}

.form-container {
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container select, .form-container input, .form-container textarea {
    margin-right: 10px;
}

.control_map {
    top: 8px;
    left: 12px;
}

.set_map {
    position: absolute;
    top: 130px;
    z-index: 999;
    width: 30px;
}

.set_map .btn_control {
    margin-bottom: 9px;
}

.btn_control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.32);
    border: 1px solid #fff;
}

.control_map .ico_now {
    width: 16px;
    height: 16px;
    background-position: -22px -2px;
}

.set_map .ico_comm {
    margin: auto;
}

.ico_comm {
    display: block;
    overflow: hidden;
    font-size: 1px;
    line-height: 0;
    color: transparent;
    vertical-align: top;
}

.ico_comm {
    background: url('../images/map.png') no-repeat;
    background-size: 250px auto;
}

.color-blue {
    color: #3496ff;
}

.map-top img {
    position: absolute;
    top: 12px;
    left: 5px;
}

.leaflet-control-container div {
    top: 25px;
}